page-dashboard {
  progress {
    background: color($colors, primary);
    border: 0;
    box-shadow: 0 1px 0 #fff;
    border-radius: 9px;
    height: 5px;
    width: 100%;

    -moz-animation: download 5s;
    -o-animation: download 5s;
    animation: download 5s;
  }

  progress::-moz-progress-bar {
    background: #f6f6f6;
    border-radius: 9px;
  }
  progress::-webkit-progress-bar {
    background: #f6f6f6;
    border-radius: 9px;
  }
  progress::-webkit-progress-value {
    background: color($colors, primary);
    border-radius: 9px;
    -webkit-animation: download 5s;
  }

  .closed + ion-list {
    display: none;
  }

  .opended + ion-list {
    display: inherit;
  }

  ion-list.skills {
    margin: 0 !important;
  }

  .skills {
    ion-label {
      margin: 0px 8px 10px 0 !important;
      padding-left: 10pt;
    }

    progress {
      background: color($colors, secondary);
    }

    progress::-webkit-progress-value {
      background: color($colors, secondary);
    }
  }
}
