<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterJobs($event)" placeholder="Filter jobs..."></ion-searchbar>

  <ion-list no-lines no-padding>
    <!-- <ion-item *ngFor="let job of jobs">
      {{ job.title }}<br>
      <progress value="50" max="100"></progress>
      <ion-icon name="star" item-end></ion-icon>
    </ion-item> -->
    <!-- Toggle Button -->
    <ion-item *ngFor="let job of jobs; let i = index">
      <button ion-item (click)="toggleJob(i)" detail-none [class.opended]="expandedJobId === i">
        <ion-icon item-left name="arrow-forward" *ngIf="expandedJobId !== i"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="expandedJobId === i"></ion-icon>
        {{ job.title }}<br>
        <small>{{ job.company.name }}</small>
        <br>
        <progress [value]="job.score * 100" max="100"></progress>
        <ion-icon name="star" item-end color="primary" [isActive]="job.favourite"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
