<ion-header>
  <ion-navbar color="dark">
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-content">
  <ion-card *ngFor="let job of jobs">
    <ion-card-header (click)="toggleJob(job.id)" [ngClass]="{'closed': expandedJobId !== job.id, 'opened': expandedJobId === job.id}">
      <ion-icon name="arrow-forward" *ngIf="expandedJobId !== job.id"></ion-icon>
      <ion-icon name="arrow-down" *ngIf="expandedJobId === job.id"></ion-icon>
      {{ job.title }}
      <ion-icon name="star" style="font-size: 30px;" float-end [color]="job.favourite ? 'yellow' : ''" [isActive]="job.favourite" (click)="favourite(!job.favourite, job.id)"></ion-icon>
      <br>
      <small style="padding-left: 12.5pt;">at {{ job.company.name }}</small>
      <br>
      <progress [value]="job.score" max="100"></progress>
    </ion-card-header>

    <ion-list class="skills">
      <button ion-item *ngFor="let skill of job.skills">
        {{ skill.name }}
        <br>
        <progress [value]="skill.score" max="100"></progress>
      </button>
    </ion-list>
  </ion-card>

</ion-content>
