<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      My skills
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="https://www.startheregoplaces.com/media/staticpages/Header_CPA-Skills.png"/>
    <div *ngIf="skills">
      <ion-list>
      <ion-list-header>
        List of skills
      </ion-list-header>
      <button ion-item *ngFor="let skill of skills" (click)="openSkill(skill.id, skill.name)">
        {{skill.name}}
      </button>
      </ion-list>
    </div>
</ion-content>
