<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{mainSkillName}} challenges</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="skills">
      <ion-card *ngFor="let challenge of skills[0].challenges">
          <img src="/assets/imgs/trophy.png"/>
          <ion-card-content>
            <ion-card-title>
              {{challenge.name}}
              </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
  </div>
</ion-content>
