<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{mainSkillName}} challenges</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="skills">
    <ion-card *ngFor="let challenge of skills[0].challenges">
      <img src="https://integr8-me.sloppy.zone/{{challenge.image_url}}" />
      <ion-card-content>
        <ion-card-title>
          {{challenge.name}}
        </ion-card-title>
        <p>
          {{challenge.description}}
        </p>
        <button ion-button block (click)="openChallenge(challenge)">Start challenge</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
